<a href="https://colab.research.google.com/github/DanielRios1/predicciones-ventas/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Cleaning

In [2]:
import pandas as pd
import numpy as np

In [19]:
filename = "/content/sales_predictions.csv"
df = pd.read_csv(filename)
df_copy = df
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [21]:
df["Item_Weight"].value_counts()

12.150    86
17.600    82
13.650    77
11.800    76
15.100    68
          ..
7.275      2
7.685      1
9.420      1
6.520      1
5.400      1
Name: Item_Weight, Length: 415, dtype: int64

In [22]:
df.columns = df.columns.str.lower()
# Se pasan todos los nombres de las columnas a minúsculas para hacer mas fácil el trabajo.

In [23]:
df.head()

,item_identifier,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_identifier,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [24]:
item_weight_missing = df["item_weight"].isna()
# Se detectan muchos valores NaN en la columna de "item_weight".

In [25]:
df.loc[item_weight_missing]

,item_identifier,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_identifier,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
...,...,...,...,...,...,...,...,...,...,...,...,...
8485,DRK37,NaN,Low Fat,0.043792,Soft Drinks,189.0530,OUT027,1985,Medium,Tier 3,Supermarket Type3,6261.8490
8487,DRG13,NaN,Low Fat,0.037006,Soft Drinks,164.7526,OUT027,1985,Medium,Tier 3,Supermarket Type3,4111.3150
8488,NCN14,NaN,Low Fat,0.091473,Others,184.6608,OUT027,1985,Medium,Tier 3,Supermarket Type3,2756.4120
8490,FDU44,NaN,Regular,0.102296,Fruits and Vegetables,162.3552,OUT019,1985,Small,Tier 1,Grocery Store,487.3656
8504,NCN18,NaN,Low Fat,0.124111,Household,111.7544,OUT027,1985,Medium,Tier 3,Supermarket Type3,4138.6128

In [26]:
df[df["item_identifier"]=="FDP10"]
# Debido a que la columna "item_identifier" se refiere a un número de identificación único de cada producto, podemos concluir que todos los valores repetidos corresponden al mismo producto.
# Por ende, todos tendrán el mismo peso, y de esta forma podremos completar algunos datos faltantes de la columna "item_weight".

,item_identifier,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_identifier,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
585,FDP10,19.0,Low Fat,0.128066,Snack Foods,104.3622,OUT035,2004,Small,Tier 2,Supermarket Type1,1905.5196
2623,FDP10,19.0,Low Fat,0.128815,Snack Foods,107.6622,OUT017,2007,NaN,Tier 2,Supermarket Type1,1164.4842
3382,FDP10,19.0,Low Fat,0.128289,Snack Foods,104.9622,OUT049,1999,Medium,Tier 1,Supermarket Type1,1164.4842
4585,FDP10,19.0,Low Fat,0.128090,Snack Foods,107.0622,OUT046,1997,Small,Tier 1,Supermarket Type1,1376.2086
6087,FDP10,19.0,Low Fat,0.128350,Snack Foods,106.5622,OUT045,2002,NaN,Tier 2,Supermarket Type1,1482.0708
7883,FDP10,19.0,Low Fat,0.127984,Snack Foods,107.6622,OUT013,1987,High,Tier 3,Supermarket Type1,1270.3464

In [27]:
# Se genera diccionario con las id de cada producto.
dicc = {}
for i in df.index:
  if pd.isnull(df["item_weight"][i]):
    x = df["item_identifier"][i]
    dicc[x]=""
print(dicc)

{'FDP10': '', 'DRI11': '', 'FDW12': '', 'FDC37': '', 'FDC14': '', 'FDV20': '', 'FDX10': '', 'FDB34': '', 'FDS02': '', 'FDI26': '', 'FDF09': '', 'FDY40': '', 'FDY45': '', 'FDN48': '', 'NCL18': '', 'FDR12': '', 'FDQ49': '', 'FDU04': '', 'NCP18': '', 'FDD10': '', 'DRE60': '', 'FDW39': '', 'FDX34': '', 'FDY25': '', 'NCR53': '', 'FDH35': '', 'DRK12': '', 'FDR07': '', 'NCB30': '', 'DRY23': '', 'FDQ28': '', 'NCO17': '', 'FDT12': '', 'FDO08': '', 'NCX06': '', 'FDE40': '', 'FDX49': '', 'FDI24': '', 'FDS45': '', 'NCO07': '', 'DRF27': '', 'FDX25': '', 'NCX42': '', 'FDG33': '', 'DRM47': '', 'FDS46': '', 'FDX21': '', 'NCU05': '', 'DRF15': '', 'FDQ04': '', 'FDH19': '', 'FDZ10': '', 'NCF07': '', 'FDJ08': '', 'FDM25': '', 'FDV60': '', 'FDV13': '', 'FDM50': '', 'FDY31': '', 'DRQ35': '', 'NCW17': '', 'FDN60': '', 'FDN58': '', 'FDC41': '', 'FDO01': '', 'FDY49': '', 'FDJ22': '', 'FDN39': '', 'FDJ56': '', 'FDX26': '', 'FDZ07': '', 'NCW53': '', 'FDX31': '', 'FDR43': '', 'FDP22': '', 'FDU02': '', 'NCK31': '', 'FDU45': '', 'FDW24': '', 'DRP35': '', 'FDW35': '', 'FDW23': '', 'DRH03': '', 'FDW27': '', 'FDS09': '', 'NCO54': '', 'FDS26': '', 'DRB48': '', 'FDU56': '', 'FDX14': '', 'FDH28': '', 'NCT41': '', 'FDO11': '', 'FDR56': '', 'FDE53': '', 'DRN36': '', 'FDZ47': '', 'NCJ54': '', 'NCE06': '', 'FDO19': '', 'FDV37': '', 'FDB38': '', 'FDW50': '', 'NCQ43': '', 'FDZ22': '', 'FDE22': '', 'DRK35': '', 'FDO44': '', 'FDL46': '', 'FDC11': '', 'FDX09': '', 'DRI37': '', 'FDE05': '', 'FDT32': '', 'FDC46': '', 'FDA34': '', 'FDO51': '', 'FDS10': '', 'FDX33': '', 'FDC33': '', 'NCV54': '', 'NCZ06': '', 'DRH25': '', 'FDA14': '', 'FDA03': '', 'FDO52': '', 'FDP13': '', 'FDV02': '', 'FDE38': '', 'FDS03': '', 'FDV56': '', 'FDC04': '', 'FDW01': '', 'FDC10': '', 'FDG24': '', 'FDO04': '', 'FDS33': '', 'NCJ29': '', 'FDZ01': '', 'FDO36': '', 'FDN12': '', 'FDL24': '', 'FDR58': '', 'FDQ15': '', 'FDH40': '', 'FDI41': '', 'NCK17': '', 'FDD36': '', 'DRD60': '', 'NCM19': '', 'FDK55': '', 'FDV01': '', 'FDL56': '', 'FDJ40': '', 'FDU13': '', 'FDU44': '', 'DRM59': '', 'FDJ45': '', 'FDQ08': '', 'DRE12': '', 'FDZ08': '', 'FDZ12': '', 'FDM56': '', 'FDW49': '', 'FDK15': '', 'FDO49': '', 'FDQ24': '', 'FDN52': '', 'NCN14': '', 'FDV57': '', 'FDL38': '', 'FDS35': '', 'FDN21': '', 'FDX59': '', 'NCK54': '', 'FDA45': '', 'FDU22': '', 'FDP48': '', 'FDM36': '', 'FDS44': '', 'NCP06': '', 'FDE33': '', 'FDU14': '', 'FDZ25': '', 'FDQ57': '', 'NCX29': '', 'FDE50': '', 'NCG43': '', 'FDR23': '', 'FDS52': '', 'DRF23': '', 'DRK37': '', 'FDW08': '', 'FDC21': '', 'FDC35': '', 'DRC36': '', 'FDZ38': '', 'FDL13': '', 'NCB43': '', 'FDK10': '', 'FDD20': '', 'NCM54': '', 'FDI44': '', 'FDB21': '', 'NCM05': '', 'FDA49': '', 'FDY52': '', 'FDL02': '', 'FDJ02': '', 'FDT46': '', 'FDM21': '', 'FDH26': '', 'FDN04': '', 'FDY36': '', 'FDF21': '', 'FDD46': '', 'FDO34': '', 'FDH57': '', 'FDK45': '', 'DRH01': '', 'DRH37': '', 'FDG46': '', 'DRH49': '', 'FDW45': '', 'FDK08': '', 'FDA51': '', 'DRE37': '', 'NCW29': '', 'DRF03': '', 'NCO41': '', 'FDZ33': '', 'FDI04': '', 'FDY56': '', 'NCR41': '', 'FDK43': '', 'FDR48': '', 'FDW37': '', 'FDO23': '', 'NCQ41': '', 'FDU20': '', 'NCK29': '', 'FDR32': '', 'FDG31': '', 'FDI19': '', 'FDQ56': '', 'DRM37': '', 'NCZ17': '', 'FDA04': '', 'DRG49': '', 'FDR51': '', 'NCF19': '', 'FDQ03': '', 'FDR46': '', 'FDP23': '', 'FDE16': '', 'NCI54': '', 'FDZ20': '', 'FDW38': '', 'FDY33': '', 'NCX05': '', 'FDZ50': '', 'DRH51': '', 'FDN20': '', 'FDS01': '', 'FDW34': '', 'FDL20': '', 'NCB31': '', 'FDW55': '', 'NCT29': '', 'NCM18': '', 'FDE45': '', 'FDP24': '', 'FDL09': '', 'FDT22': '', 'FDF16': '', 'FDD52': '', 'FDD16': '', 'FDH32': '', 'FDD50': '', 'FDW20': '', 'FDT55': '', 'FDG29': '', 'FDA16': '', 'NCQ06': '', 'FDG16': '', 'FDZ40': '', 'NCM17': '', 'NCX30': '', 'FDL12': '', 'FDW11': '', 'FDZ59': '', 'FDB57': '', 'FDI46': '', 'DRC25': '', 'FDP25': '', 'NCY05': '', 'NCL05': '', 'FDC28': '', 'FDI57': '', 'DRL11': '', 'FDY09': '', 'FDU36': '', 'FDW36': '', 'FDA10': '', 'FDZ58': '', 'FDW56': '', 'FDH21': '', 'NCZ54': '', 'FDD29': '', 'FDJ10': '', 'DRK49': '', 'FDW32': '', 'FDK57': '', 'FDL39': '', 'FDH52': '', 'FDB58': '', 'NCK06': '', 'NCQ42': '', 'FDM14': '', 'NCV06': '', 'DRF25': '', 'DRJ47': '', 'FDZ43': '', 'FDW26': '', 'FDQ12': '', 'FDV46': '', 'FDM28': '', 'NCT17': '', 'NCY29': '', 'FDA38': '', 'FDW21': '', 'FDG44': '', 'FDQ36': '', 'FDE41': '', 'NCO42': '', 'NCZ53': '', 'NCB18': '', 'FDZ45': '', 'FDU55': '', 'FDO25': '', 'FDF40': '', 'FDR55': '', 'NCS06': '', 'FDT09': '', 'FDL52': '', 'FDK02': '', 'FDQ25': '', 'NCI31': '', 'NCJ42': '', 'FDH10': '', 'FDY47': '', 'FDU38': '', 'FDV09': '', 'FDG40': '', 'FDY21': '', 'FDH09': '', 'FDC57': '', 'FDQ27': '', 'FDE32': '', 'FDN02': '', 'FDC02': '', 'DRI23': '', 'NCJ05': '', 'FDU01': '', 'FDE10': '', 'NCK05': '', 'DRG23': '', 'FDV07': '', 'FDV38': '', 'DRJ24': '', 'FDA02': '', 'FDH33': '', 'DRG48': '', 'FDE08': '', 'NCM07': '', 'FDY35': '', 'FDS28': '', 'FDA47': '', 'FDC45': '', 'NCA06': '', 'FDD05': '', 'NCE54': '', 'DRJ59': '', 'DRH13': '', 'FDL04': '', 'FDU21': '', 'DRZ24': '', 'DRB25': '', 'FDX03': '', 'FDG02': '', 'FDV21': '', 'FDZ52': '', 'FDL16': '', 'FDG60': '', 'FDQ13': '', 'FDA36': '', 'FDQ34': '', 'FDJ55': '', 'FDV51': '', 'FDP11': '', 'NCN43': '', 'FDF20': '', 'NCE07': '', 'FDI16': '', 'FDQ23': '', 'FDW09': '', 'FDF12': '', 'NCJ31': '', 'NCL53': '', 'FDF57': '', 'FDW59': '', 'FDH17': '', 'FDH50': '', 'NCV41': '', 'FDY60': '', 'FDP51': '', 'FDE09': '', 'FDU25': '', 'DRD25': '', 'FDR31': '', 'FDT07': '', 'DRL01': '', 'FDY08': '', 'FDP38': '', 'FDL40': '', 'FDH05': '', 'NCO55': '', 'FDM15': '', 'FDS16': '', 'FDW02': '', 'FDS31': '', 'DRA24': '', 'FDA28': '', 'FDA50': '', 'FDM27': '', 'FDL33': '', 'FDV08': '', 'FDJ14': '', 'NCR05': '', 'DRC01': '', 'FDX28': '', 'NCX18': '', 'FDN57': '', 'FDS27': '', 'FDU08': '', 'FDT56': '', 'DRD15': '', 'FDA57': '', 'DRK13': '', 'FDL57': '', 'FDG56': '', 'FDQ22': '', 'FDT16': '', 'DRG01': '', 'FDU57': '', 'FDF24': '', 'DRJ39': '', 'FDB04': '', 'FDK24': '', 'NCN53': '', 'NCL41': '', 'NCM30': '', 'DRK23': '', 'FDB32': '', 'DRD24': '', 'FDY02': '', 'FDK20': '', 'FDV03': '', 'FDH08': '', 'FDD41': '', 'FDJ28': '', 'FDO32': '', 'FDZ32': '', 'NCP50': '', 'FDX35': '', 'NCP42': '', 'FDW31': '', 'FDU35': '', 'FDP39': '', 'NCG07': '', 'FDP58': '', 'FDX56': '', 'FDW48': '', 'FDW15': '', 'NCR50': '', 'NCB07': '', 'FDD59': '', 'FDH48': '', 'FDJ07': '', 'FDX47': '', 'FDF34': '', 'FDK03': '', 'NCL07': '', 'FDZ44': '', 'FDU32': '', 'NCB06': '', 'FDP45': '', 'FDU27': '', 'FDM44': '', 'FDZ48': '', 'FDK41': '', 'FDD57': '', 'FDJ21': '', 'FDG12': '', 'NCT30': '', 'FDR47': '', 'NCK42': '', 'FDU26': '', 'FDO45': '', 'FDL26': '', 'FDK25': '', 'FDT40': '', 'FDE28': '', 'FDS12': '', 'FDL44': '', 'FDT51': '', 'NCF31': '', 'FDT50': '', 'FDL45': '', 'NCB19': '', 'FDN27': '', 'NCC19': '', 'NCL54': '', 'NCM43': '', 'DRH23': '', 'FDQ33': '', 'FDY16': '', 'DRN47': '', 'FDD40': '', 'FDW25': '', 'NCE19': '', 'FDU33': '', 'NCL55': '', 'FDJ48': '', 'FDO50': '', 'FDX37': '', 'DRM48': '', 'FDF46': '', 'FDP52': '', 'FDF52': '', 'FDD53': '', 'FDN34': '', 'DRK59': '', 'FDG17': '', 'NCH42': '', 'FDQ10': '', 'DRB01': '', 'NCZ18': '', 'FDZ14': '', 'FDR35': '', 'FDT58': '', 'FDN13': '', 'FDT11': '', 'NCC18': '', 'FDV27': '', 'FDU51': '', 'NCK18': '', 'NCC07': '', 'FDK09': '', 'FDZ60': '', 'FDA44': '', 'FDV32': '', 'FDK32': '', 'FDQ48': '', 'FDQ52': '', 'FDB23': '', 'NCP05': '', 'FDV49': '', 'FDV15': '', 'FDV23': '', 'FDZ26': '', 'FDX22': '', 'FDW13': '', 'NCO30': '', 'DRG27': '', 'FDN08': '', 'DRH15': '', 'DRJ23': '', 'FDD26': '', 'FDJ32': '', 'FDI15': '', 'FDG05': '', 'FDT19': '', 'FDL36': '', 'FDG14': '', 'NCJ06': '', 'FDB52': '', 'FDA26': '', 'FDO15': '', 'FDG35': '', 'NCH54': '', 'FDU24': '', 'FDQ39': '', 'NCQ18': '', 'NCI18': '', 'NCS05': '', 'FDU19': '', 'DRH39': '', 'FDE58': '', 'FDF05': '', 'FDA19': '', 'FDP31': '', 'FDC59': '', 'DRI01': '', 'FDG04': '', 'FDF58': '', 'FDZ21': '', 'FDC47': '', 'FDL48': '', 'FDN03': '', 'FDE52': '', 'FDC60': '', 'DRZ11': '', 'FDY07': '', 'FDZ56': '', 'NCY18': '', 'FDI33': '', 'FDR15': '', 'FDP60': '', 'FDZ15': '', 'FDD38': '', 'FDB14': '', 'FDO27': '', 'FDB49': '', 'FDR08': '', 'FDQ51': '', 'FDY55': '', 'FDP33': '', 'NCU17': '', 'NCG30': '', 'NCR29': '', 'FDP40': '', 'FDE11': '', 'FDO39': '', 'FDG32': '', 'FDU50': '', 'FDP46': '', 'FDC20': '', 'FDI56': '', 'NCR17': '', 'FDT57': '', 'FDS43': '', 'FDZ37': '', 'FDO13': '', 'FDS25': '', 'NCQ30': '', 'FDL34': '', 'FDA07': '', 'FDZ16': '', 'FDN09': '', 'DRG03': '', 'FDC44': '', 'NCU42': '', 'FDY34': '', 'NCZ30': '', 'FDN10': '', 'FDS13': '', 'FDO10': '', 'FDU23': '', 'FDQ40': '', 'FDB17': '', 'NCL31': '', 'NCQ50': '', 'FDB05': '', 'FDX04': '', 'FDQ20': '', 'DRI03': '', 'FDK34': '', 'NCH06': '', 'FDN23': '', 'FDY48': '', 'FDT20': '', 'FDP04': '', 'FDQ11': '', 'NCH43': '', 'FDN33': '', 'FDT47': '', 'NCN29': '', 'NCF42': '', 'DRE49': '', 'FDO03': '', 'FDQ31': '', 'NCS29': '', 'FDK04': '', 'DRE15': '', 'FDB08': '', 'NCT53': '', 'FDP21': '', 'NCJ43': '', 'NCW41': '', 'NCO05': '', 'FDF33': '', 'DRN59': '', 'FDN44': '', 'NCG54': '', 'NCW42': '', 'FDI20': '', 'FDE57': '', 'FDS08': '', 'FDU39': '', 'FDF26': '', 'DRC49': '', 'FDB36': '', 'DRF49': '', 'NCO14': '', 'FDR45': '', 'FDR01': '', 'FDS39': '', 'FDB02': '', 'FDX24': '', 'FDS34': '', 'NCD43': '', 'FDN01': '', 'NCD31': '', 'FDU52': '', 'NCR30': '', 'FDF29': '', 'FDD39': '', 'FDP09': '', 'FDQ60': '', 'DRJ37': '', 'DRD12': '', 'FDH02': '', 'FDR09': '', 'NCJ19': '', 'DRH11': '', 'FDP56': '', 'DRF01': '', 'FDY13': '', 'FDC32': '', 'FDY04': '', 'FDC29': '', 'FDN25': '', 'FDV43': '', 'FDK58': '', 'FDM20': '', 'FDT36': '', 'FDA46': '', 'FDS21': '', 'FDR14': '', 'FDG22': '', 'FDB40': '', 'FDD51': '', 'FDU12': '', 'NCI06': '', 'FDV26': '', 'FDG21': '', 'FDW52': '', 'FDN24': '', 'NCH55': '', 'FDQ19': '', 'FDK40': '', 'FDV45': '', 'FDK33': '', 'FDU58': '', 'NCG18': '', 'FDQ26': '', 'DRL47': '', 'FDM34': '', 'NCS53': '', 'FDH60': '', 'FDK48': '', 'NCH07': '', 'NCR18': '', 'FDS48': '', 'FDF44': '', 'FDE46': '', 'FDQ09': '', 'NCK53': '', 'FDW22': '', 'FDV16': '', 'NCS54': '', 'FDJ33': '', 'FDK16': '', 'FDB22': '', 'FDQ59': '', 'FDR52': '', 'FDT26': '', 'FDX57': '', 'FDA55': '', 'FDQ45': '', 'FDE51': '', 'FDE02': '', 'NCD55': '', 'DRM23': '', 'FDK26': '', 'FDJ58': '', 'FDY59': '', 'FDT08': '', 'FDI10': '', 'FDZ35': '', 'FDO28': '', 'NCY06': '', 'FDD33': '', 'NCP02': '', 'FDS47': '', 'FDX01': '', 'FDC53': '', 'FDQ32': '', 'FDS57': '', 'NCQ38': '', 'DRK11': '', 'DRE48': '', 'FDM22': '', 'NCU29': '', 'FDZ02': '', 'FDR19': '', 'FDA39': '', 'FDB56': '', 'FDA13': '', 'FDF28': '', 'FDA11': '', 'DRL37': '', 'FDD35': '', 'FDH41': '', 'FDY10': '', 'FDS55': '', 'FDC34': '', 'FDO31': '', 'FDP27': '', 'DRI39': '', 'FDF56': '', 'FDB44': '', 'FDC52': '', 'FDS40': '', 'FDI22': '', 'FDZ31': '', 'FDB37': '', 'FDB45': '', 'FDC08': '', 'FDA43': '', 'NCT06': '', 'FDH56': '', 'FDK51': '', 'FDB33': '', 'NCE30': '', 'FDQ55': '', 'FDT14': '', 'NCA42': '', 'FDG08': '', 'FDH31': '', 'FDA20': '', 'FDK36': '', 'NCP55': '', 'FDO56': '', 'FDX45': '', 'NCB42': '', 'DRK39': '', 'DRI59': '', 'FDE29': '', 'NCO02': '', 'FDT15': '', 'FDQ07': '', 'NCM06': '', 'FDL15': '', 'FDO37': '', 'FDS23': '', 'FDJ44': '', 'FDG10': '', 'NCD54': '', 'FDE35': '', 'FDP49': '', 'NCQ05': '', 'FDN56': '', 'DRA59': '', 'FDE24': '', 'FDZ55': '', 'FDU46': '', 'FDM01': '', 'NCI29': '', 'FDO40': '', 'FDE21': '', 'FDO38': '', 'NCA05': '', 'FDM24': '', 'FDH34': '', 'FDR24': '', 'FDW51': '', 'FDZ19': '', 'FDB35': '', 'FDG34': '', 'FDV19': '', 'FDK52': '', 'FDD04': '', 'FDO24': '', 'FDX50': '', 'FDR44': '', 'NCO06': '', 'FDA22': '', 'FDL28': '', 'FDJ46': '', 'NCD42': '', 'FDJ53': '', 'FDF41': '', 'FDK44': '', 'FDZ39': '', 'FDU28': '', 'FDX38': '', 'FDR21': '', 'NCX54': '', 'FDS11': '', 'FDN38': '', 'NCW18': '', 'DRG36': '', 'FDA56': '', 'NCQ53': '', 'NCO29': '', 'NCQ29': '', 'FDR40': '', 'FDB59': '', 'FDM58': '', 'FDQ14': '', 'FDG52': '', 'NCM26': '', 'FDK38': '', 'FDU43': '', 'FDC48': '', 'NCT42': '', 'FDI50': '', 'FDY38': '', 'FDN50': '', 'FDT49': '', 'FDA52': '', 'FDW47': '', 'DRL35': '', 'DRF36': '', 'DRH36': '', 'FDI32': '', 'FDR25': '', 'FDX39': '', 'FDX52': '', 'DRI25': '', 'FDI21': '', 'FDN32': '', 'DRM35': '', 'FDA15': '', 'FDT13': '', 'FDC50': '', 'NCV05': '', 'FDT60': '', 'NCU06': '', 'FDB27': '', 'FDZ49': '', 'NCV30': '', 'FDM10': '', 'NCU18': '', 'FDH45': '', 'FDP34': '', 'DRO59': '', 'FDJ57': '', 'FDY44': '', 'FDK28': '', 'FDB39': '', 'NCM29': '', 'FDY27': '', 'FDY03': '', 'FDI07': '', 'FDB41': '', 'FDV10': '', 'DRG37': '', 'FDX13': '', 'NCI17': '', 'FDR27': '', 'NCY41': '', 'NCI42': '', 'FDY46': '', 'NCA53': '', 'FDN15': '', 'NCN19': '', 'FDO46': '', 'FDK22': '', 'NCY54': '', 'FDD58': '', 'NCY53': '', 'NCD18': '', 'NCS38': '', 'NCJ18': '', 'FDP59': '', 'FDU11': '', 'FDY51': '', 'FDL32': '', 'NCH30': '', 'FDW04': '', 'NCP29': '', 'FDV55': '', 'FDV47': '', 'FDP26': '', 'FDM03': '', 'FDU07': '', 'FDS51': '', 'FDH14': '', 'NCF18': '', 'FDT21': '', 'NCP30': '', 'FDY26': '', 'FDZ23': '', 'NCE42': '', 'NCH18': '', 'FDV28': '', 'FDU59': '', 'FDH12': '', 'FDA08': '', 'FDW16': '', 'FDW07': '', 'NCE55': '', 'FDK27': '', 'FDZ51': '', 'FDY32': '', 'FDX55': '', 'FDY15': '', 'FDX58': '', 'NCJ30': '', 'DRD13': '', 'FDS59': '', 'FDL03': '', 'FDR37': '', 'FDT59': '', 'FDV39': '', 'NCR38': '', 'DRE13': '', 'NCI55': '', 'FDA35': '', 'NCN41': '', 'FDD09': '', 'FDB26': '', 'FDV25': '', 'FDW28': '', 'FDR60': '', 'FDO09': '', 'FDI14': '', 'FDR33': '', 'DRF37': '', 'FDI28': '', 'NCS17': '', 'FDX32': '', 'FDE56': '', 'FDV36': '', 'FDW19': '', 'FDO57': '', 'FDO58': '', 'FDO60': '', 'FDJ26': '', 'FDX20': '', 'FDY39': '', 'FDX15': '', 'FDZ27': '', 'FDE36': '', 'NCO53': '', 'DRD27': '', 'FDL22': '', 'DRI51': '', 'DRJ01': '', 'FDQ37': '', 'FDX48': '', 'FDY50': '', 'FDL21': '', 'FDX07': '', 'NCQ17': '', 'FDX36': '', 'NCR54': '', 'FDC17': '', 'DRL60': '', 'FDJ36': '', 'FDG38': '', 'FDA23': '', 'FDU37': '', 'FDF04': '', 'NCL30': '', 'FDD11': '', 'FDW46': '', 'NCL29': '', 'FDM39': '', 'FDU34': '', 'FDC16': '', 'FDT27': '', 'FDM46': '', 'NCD30': '', 'FDJ15': '', 'FDP37': '', 'NCI43': '', 'NCZ05': '', 'NCP43': '', 'FDR22': '', 'NCV29': '', 'FDP15': '', 'NCP41': '', 'NCP53': '', 'NCE31': '', 'FDH04': '', 'FDH16': '', 'FDC58': '', 'FDI27': '', 'FDH38': '', 'NCT18': '', 'NCG06': '', 'FDV04': '', 'FDH27': '', 'FDU09': '', 'NCN30': '', 'NCN42': '', 'FDT03': '', 'DRL59': '', 'FDB53': '', 'NCI30': '', 'FDF50': '', 'FDR04': '', 'FDL43': '', 'FDX60': '', 'NCP17': '', 'FDG09': '', 'FDJ34': '', 'FDW60': '', 'FDV48': '', 'DRE25': '', 'FDR59': '', 'FDX08': '', 'FDT37': '', 'FDL08': '', 'FDX46': '', 'FDD14': '', 'FDD28': '', 'FDS32': '', 'FDL10': '', 'FDT24': '', 'FDY28': '', 'NCE43': '', 'NCX41': '', 'FDN45': '', 'FDY37': '', 'FDA32': '', 'FDA01': '', 'FDX44': '', 'NCQ54': '', 'FDB09': '', 'FDD08': '', 'FDT48': '', 'FDX40': '', 'FDG59': '', 'NCS41': '', 'FDQ58': '', 'DRG13': '', 'NCN18': ''}

In [31]:
# Luego a cada id se le asigna el peso correspondiente.
for id in dicc:
  for e in range(0, len(df["item_identifier"])):
    if id == df["item_identifier"][e] and pd.notnull(df["item_weight"][e]):
      dicc[id]=df["item_weight"][e]
print(dicc)

{'FDP10': 19.0, 'DRI11': 8.26, 'FDW12': 8.315, 'FDC37': 15.5, 'FDC14': 14.5, 'FDV20': 20.2, 'FDX10': 6.385, 'FDB34': 15.25, 'FDS02': 10.195, 'FDI26': 5.94, 'FDF09': 6.215, 'FDY40': 15.5, 'FDY45': 17.5, 'FDN48': 13.35, 'NCL18': 18.85, 'FDR12': 12.6, 'FDQ49': 20.2, 'FDU04': 7.93, 'NCP18': 12.15, 'FDD10': 20.6, 'DRE60': 9.395, 'FDW39': 6.69, 'FDX34': 6.195, 'FDY25': 12.0, 'NCR53': 12.15, 'FDH35': 18.25, 'DRK12': 9.5, 'FDR07': 21.35, 'NCB30': 14.6, 'DRY23': 9.395, 'FDQ28': 14.0, 'NCO17': 10.0, 'FDT12': 6.215, 'FDO08': 11.1, 'NCX06': 17.6, 'FDE40': 15.6, 'FDX49': 4.615, 'FDI24': 10.3, 'FDS45': 5.175, 'NCO07': 9.06, 'DRF27': 8.93, 'FDX25': 16.7, 'NCX42': 6.36, 'FDG33': 5.365, 'DRM47': 9.3, 'FDS46': 17.6, 'FDX21': 7.05, 'NCU05': 11.8, 'DRF15': 18.35, 'FDQ04': 6.4, 'FDH19': 19.35, 'FDZ10': 17.85, 'NCF07': 9.0, 'FDJ08': 11.1, 'FDM25': 10.695, 'FDV60': 20.2, 'FDV13': 17.35, 'FDM50': 13.0, 'FDY31': 5.98, 'DRQ35': 9.3, 'NCW17': 18.0, 'FDN60': 15.1, 'FDN58': 13.8, 'FDC41': 15.6, 'FDO01': 21.1, 'FDY49': 17.2, 'FDJ22': 18.75, 'FDN39': 19.35, 'FDJ56': 8.985, 'FDX26': 17.7, 'FDZ07': 15.1, 'NCW53': 18.35, 'FDX31': 20.35, 'FDR43': 18.2, 'FDP22': 14.65, 'FDU02': 13.35, 'NCK31': 10.895, 'FDU45': 15.6, 'FDW24': 6.8, 'DRP35': 18.85, 'FDW35': 10.6, 'FDW23': 5.765, 'DRH03': 17.25, 'FDW27': 5.86, 'FDS09': 8.895, 'NCO54': 19.5, 'FDS26': 20.35, 'DRB48': 16.75, 'FDU56': 16.85, 'FDX14': 13.1, 'FDH28': 15.85, 'NCT41': 15.7, 'FDO11': 8.0, 'FDR56': 15.5, 'FDE53': 10.895, 'DRN36': 15.2, 'FDZ47': 20.7, 'NCJ54': 9.895, 'NCE06': 5.825, 'FDO19': 17.7, 'FDV37': 13.0, 'FDB38': 19.5, 'FDW50': 13.1, 'NCQ43': 17.75, 'FDZ22': 9.395, 'FDE22': 9.695, 'DRK35': 8.365, 'FDO44': 12.6, 'FDL46': 20.35, 'FDC11': 20.5, 'FDX09': 9.0, 'DRI37': 15.85, 'FDE05': 10.895, 'FDT32': 19.0, 'FDC46': 17.7, 'FDA34': 11.5, 'FDO51': 6.785, 'FDS10': 19.2, 'FDX33': 9.195, 'FDC33': 8.96, 'NCV54': 11.1, 'NCZ06': 19.6, 'DRH25': 18.7, 'FDA14': 16.1, 'FDA03': 18.5, 'FDO52': 11.6, 'FDP13': 8.1, 'FDV02': 16.75, 'FDE38': 6.52, 'FDS03': 7.825, 'FDV56': 16.1, 'FDC04': 15.6, 'FDW01': 14.5, 'FDC10': 9.8, 'FDG24': 7.975, 'FDO04': 16.6, 'FDS33': 6.67, 'NCJ29': 10.6, 'FDZ01': 8.975, 'FDO36': 19.7, 'FDN12': 15.6, 'FDL24': 10.3, 'FDR58': 6.675, 'FDQ15': 20.35, 'FDH40': 11.6, 'FDI41': 18.5, 'NCK17': 11.0, 'FDD36': 13.3, 'DRD60': 15.7, 'NCM19': 12.65, 'FDK55': 18.5, 'FDV01': 19.2, 'FDL56': 14.1, 'FDJ40': 13.6, 'FDU13': 8.355, 'FDU44': 12.15, 'DRM59': 5.88, 'FDJ45': 17.75, 'FDQ08': 15.7, 'DRE12': 4.59, 'FDZ08': 12.5, 'FDZ12': 9.17, 'FDM56': 16.7, 'FDW49': 19.5, 'FDK15': 10.8, 'FDO49': 10.6, 'FDQ24': 15.7, 'FDN52': '', 'NCN14': 19.1, 'FDV57': 15.25, 'FDL38': 13.8, 'FDS35': 9.3, 'FDN21': 18.6, 'FDX59': 10.195, 'NCK54': 12.15, 'FDA45': 21.25, 'FDU22': 12.35, 'FDP48': 7.52, 'FDM36': 11.65, 'FDS44': 12.65, 'NCP06': 20.7, 'FDE33': 19.35, 'FDU14': 17.75, 'FDZ25': 15.7, 'FDQ57': 7.275, 'NCX29': 10.0, 'FDE50': 19.7, 'NCG43': 20.2, 'FDR23': 15.85, 'FDS52': 8.89, 'DRF23': 4.61, 'DRK37': 5.0, 'FDW08': 12.1, 'FDC21': 14.6, 'FDC35': 7.435, 'DRC36': 13.0, 'FDZ38': 17.6, 'FDL13': 13.85, 'NCB43': 20.2, 'FDK10': 5.785, 'FDD20': 14.15, 'NCM54': 17.7, 'FDI44': 16.1, 'FDB21': 7.475, 'NCM05': 6.825, 'FDA49': 19.7, 'FDY52': 6.365, 'FDL02': 20.0, 'FDJ02': 17.2, 'FDT46': 11.35, 'FDM21': 20.2, 'FDH26': 19.25, 'FDN04': 11.8, 'FDY36': 12.3, 'FDF21': 10.3, 'FDD46': 6.035, 'FDO34': 17.7, 'FDH57': 10.895, 'FDK45': 11.65, 'DRH01': 17.5, 'DRH37': 17.6, 'FDG46': 8.63, 'DRH49': 19.7, 'FDW45': 18.0, 'FDK08': 9.195, 'FDA51': 8.05, 'DRE37': 13.5, 'NCW29': 14.0, 'DRF03': 19.1, 'NCO41': 12.5, 'FDZ33': 10.195, 'FDI04': 13.65, 'FDY56': 16.35, 'NCR41': 17.85, 'FDK43': 9.8, 'FDR48': 11.65, 'FDW37': 19.2, 'FDO23': 17.85, 'NCQ41': 14.8, 'FDU20': 19.35, 'NCK29': 5.615, 'FDR32': 6.78, 'FDG31': 12.15, 'FDI19': 15.1, 'FDQ56': 6.59, 'DRM37': 15.35, 'NCZ17': 12.15, 'FDA04': 11.3, 'DRG49': 7.81, 'FDR51': 9.035, 'NCF19': 13.0, 'FDQ03': 15.0, 'FDR46': 16.85, 'FDP23': 6.71, 'FDE16': 8.895, 'NCI54': 15.2, 'FDZ20': 16.1, 'FDW38': 5.325, 'FDY33': 14.5, 'NCX05': 15.2, 'FDZ50': 12.8, 'DRH51': 17.6, 'FDN20': 19.35, 'FDS01': 11.6, 'FDW34': 9.6, 'FDL20': 17.1, 'NCB31': 6.235, 'FDW55': 12.6, 'NCT29': 12.6, 'NCM18': 13.0, 'FDE45': 12.1, 'FDP24': 20.6, 'FDL09': 19.6, 'FDT22': 10.395, 'FDF16': 7.3, 'FDD52': 18.25, 'FDD16': 20.5, 'FDH32': 12.8, 'FDD50': 18.85, 'FDW20': 20.75, 'FDT55': 13.6, 'FDG29': 17.6, 'FDA16': 6.695, 'NCQ06': 13.0, 'FDG16': 15.25, 'FDZ40': 8.935, 'NCM17': 7.93, 'NCX30': 16.7, 'FDL12': 15.85, 'FDW11': 12.6, 'FDZ59': 6.63, 'FDB57': 20.25, 'FDI46': 9.5, 'DRC25': 5.73, 'FDP25': 15.2, 'NCY05': 13.5, 'NCL05': 19.6, 'FDC28': 7.905, 'FDI57': 19.85, 'DRL11': 10.5, 'FDY09': 15.6, 'FDU36': 6.15, 'FDW36': 11.15, 'FDA10': 20.35, 'FDZ58': 17.85, 'FDW56': 7.68, 'FDH21': 10.395, 'NCZ54': 14.65, 'FDD29': 12.15, 'FDJ10': 5.095, 'DRK49': 14.15, 'FDW32': 18.35, 'FDK57': '', 'FDL39': 16.1, 'FDH52': 9.42, 'FDB58': 10.5, 'NCK06': 5.03, 'NCQ42': 20.35, 'FDM14': 13.8, 'NCV06': 11.3, 'DRF25': 9.0, 'DRJ47': 18.25, 'FDZ43': 11.0, 'FDW26': 11.8, 'FDQ12': 12.65, 'FDV46': 18.2, 'FDM28': 15.7, 'NCT17': 10.8, 'NCY29': 13.65, 'FDA38': 5.44, 'FDW21': 5.34, 'FDG44': 6.13, 'FDQ36': 7.855, 'FDE41': 9.195, 'NCO42': 21.25, 'NCZ53': 9.6, 'NCB18': 19.6, 'FDZ45': 14.1, 'FDU55': 16.2, 'FDO25': 6.3, 'FDF40': 20.25, 'FDR55': 12.15, 'NCS06': 7.935, 'FDT09': 15.15, 'FDL52': 6.635, 'FDK02': 12.5, 'FDQ25': 8.63, 'NCI31': 20.0, 'NCJ42': 19.75, 'FDH10': 21.0, 'FDY47': 8.6, 'FDU38': 10.8, 'FDV09': 12.1, 'FDG40': 13.65, 'FDY21': 15.1, 'FDH09': 12.6, 'FDC57': 20.1, 'FDQ27': 5.19, 'FDE32': 20.7, 'FDN02': 16.5, 'FDC02': 21.35, 'DRI23': 18.85, 'NCJ05': 18.7, 'FDU01': 20.25, 'FDE10': 6.67, 'NCK05': 20.1, 'DRG23': 8.88, 'FDV07': 9.5, 'FDV38': 19.25, 'DRJ24': 11.8, 'FDA02': 14.0, 'FDH33': 12.85, 'DRG48': 5.78, 'FDE08': 18.2, 'NCM07': 9.395, 'FDY35': 17.6, 'FDS28': 8.18, 'FDA47': 10.5, 'FDC45': 17.0, 'NCA06': 20.5, 'FDD05': 19.35, 'NCE54': 20.7, 'DRJ59': 11.65, 'DRH13': 8.575, 'FDL04': 19.0, 'FDU21': 11.8, 'DRZ24': 7.535, 'DRB25': 12.3, 'FDX03': 15.85, 'FDG02': 7.855, 'FDV21': 11.5, 'FDZ52': 19.2, 'FDL16': 12.85, 'FDG60': 20.35, 'FDQ13': 11.1, 'FDA36': 5.985, 'FDQ34': 10.85, 'FDJ55': 12.8, 'FDV51': 16.35, 'FDP11': 15.85, 'NCN43': 12.15, 'FDF20': 12.85, 'NCE07': 8.18, 'FDI16': 14.0, 'FDQ23': 6.55, 'FDW09': 13.65, 'FDF12': 8.235, 'NCJ31': 19.2, 'NCL53': 7.5, 'FDF57': 14.5, 'FDW59': 13.15, 'FDH17': 16.2, 'FDH50': 15.0, 'NCV41': 14.35, 'FDY60': 10.5, 'FDP51': 13.85, 'FDE09': 8.775, 'FDU25': 12.35, 'DRD25': 6.135, 'FDR31': 6.46, 'FDT07': 5.82, 'DRL01': 19.5, 'FDY08': 9.395, 'FDP38': 10.1, 'FDL40': 17.7, 'FDH05': 14.35, 'NCO55': 12.8, 'FDM15': 11.8, 'FDS16': 15.15, 'FDW02': 4.805, 'FDS31': 13.1, 'DRA24': 19.35, 'FDA28': 16.1, 'FDA50': 16.25, 'FDM27': 12.35, 'FDL33': 7.235, 'FDV08': 7.35, 'FDJ14': 10.3, 'NCR05': 10.1, 'DRC01': 5.92, 'FDX28': 6.325, 'NCX18': 14.15, 'FDN57': 18.25, 'FDS27': 10.195, 'FDU08': 10.3, 'FDT56': 16.0, 'DRD15': 10.6, 'FDA57': 18.85, 'DRK13': 11.8, 'FDL57': 15.1, 'FDG56': 13.3, 'FDQ22': 16.75, 'FDT16': 9.895, 'DRG01': 14.8, 'FDU57': 8.27, 'FDF24': 15.5, 'DRJ39': 20.25, 'FDB04': 11.35, 'FDK24': 9.195, 'NCN53': 5.175, 'NCL41': 12.35, 'NCM30': 19.1, 'DRK23': 8.395, 'FDB32': 20.6, 'DRD24': 13.85, 'FDY02': 8.945, 'FDK20': 12.6, 'FDV03': 17.6, 'FDH08': 7.51, 'FDD41': 6.765, 'FDJ28': 12.3, 'FDO32': 6.36, 'FDZ32': 7.785, 'NCP50': 17.35, 'FDX35': 5.035, 'NCP42': 8.51, 'FDW31': 11.35, 'FDU35': 6.44, 'FDP39': 12.65, 'NCG07': 12.3, 'FDP58': 11.1, 'FDX56': 17.1, 'FDW48': 18.0, 'FDW15': 15.35, 'NCR50': 20.2, 'NCB07': 19.2, 'FDD59': 10.5, 'FDH48': 13.5, 'FDJ07': 7.26, 'FDX47': 6.55, 'FDF34': 9.3, 'FDK03': 12.6, 'NCL07': 13.85, 'FDZ44': 8.185, 'FDU32': 8.785, 'NCB06': 17.6, 'FDP45': 15.7, 'FDU27': 18.6, 'FDM44': 12.5, 'FDZ48': 17.75, 'FDK41': 14.3, 'FDD57': 18.1, 'FDJ21': 16.7, 'FDG12': 6.635, 'NCT30': 9.1, 'FDR47': 17.85, 'NCK42': 7.475, 'FDU26': 16.7, 'FDO45': 13.15, 'FDL26': 18.0, 'FDK25': 11.6, 'FDT40': 5.985, 'FDE28': 9.5, 'FDS12': 9.1, 'FDL44': 18.25, 'FDT51': 11.65, 'NCF31': 9.13, 'FDT50': 6.75, 'FDL45': 15.6, 'NCB19': 6.525, 'FDN27': 20.85, 'NCC19': 6.57, 'NCL54': 12.6, 'NCM43': 14.5, 'DRH23': 14.65, 'FDQ33': 13.35, 'FDY16': 18.35, 'DRN47': 12.1, 'FDD40': 20.25, 'FDW25': 5.175, 'NCE19': 8.97, 'FDU33': 7.63, 'NCL55': 12.15, 'FDJ48': 11.3, 'FDO50': 16.25, 'FDX37': 16.2, 'DRM48': 15.2, 'FDF46': 7.07, 'FDP52': 18.7, 'FDF52': 9.3, 'FDD53': 16.2, 'FDN34': 15.6, 'DRK59': 8.895, 'FDG17': 6.865, 'NCH42': 6.86, 'FDQ10': 12.85, 'DRB01': 7.39, 'NCZ18': 7.825, 'FDZ14': 7.71, 'FDR35': 12.5, 'FDT58': 9.0, 'FDN13': 18.6, 'FDT11': 5.94, 'NCC18': 19.1, 'FDV27': 7.97, 'FDU51': 20.2, 'NCK18': 9.6, 'NCC07': 19.6, 'FDK09': 15.2, 'FDZ60': 20.5, 'FDA44': 19.7, 'FDV32': 7.785, 'FDK32': 16.25, 'FDQ48': 14.3, 'FDQ52': 17.0, 'FDB23': 19.2, 'NCP05': 19.6, 'FDV49': 10.0, 'FDV15': 10.3, 'FDV23': 11.0, 'FDZ26': 11.6, 'FDX22': 6.785, 'FDW13': 8.5, 'NCO30': 19.5, 'DRG27': 8.895, 'FDN08': 7.72, 'DRH15': 8.775, 'DRJ23': 18.35, 'FDD26': 8.71, 'FDJ32': 10.695, 'FDI15': 13.8, 'FDG05': 11.0, 'FDT19': 7.59, 'FDL36': 15.1, 'FDG14': 9.0, 'NCJ06': 20.1, 'FDB52': 17.75, 'FDA26': 7.855, 'FDO15': 16.75, 'FDG35': 21.2, 'NCH54': 13.5, 'FDU24': 6.78, 'FDQ39': 14.8, 'NCQ18': 15.75, 'NCI18': 18.35, 'NCS05': 11.5, 'FDU19': 8.77, 'DRH39': 20.7, 'FDE58': 18.5, 'FDF05': 17.5, 'FDA19': 7.52, 'FDP31': 21.1, 'FDC59': 16.7, 'DRI01': 7.97, 'FDG04': 13.1, 'FDF58': 13.3, 'FDZ21': 17.6, 'FDC47': 15.0, 'FDL48': 19.35, 'FDN03': 9.8, 'FDE52': '', 'FDC60': 5.425, 'DRZ11': 8.85, 'FDY07': 11.8, 'FDZ56': 16.25, 'NCY18': 7.285, 'FDI33': 16.5, 'FDR15': 9.3, 'FDP60': 17.35, 'FDZ15': 13.1, 'FDD38': 16.75, 'FDB14': 20.25, 'FDO27': 6.175, 'FDB49': 8.3, 'FDR08': 18.7, 'FDQ51': 16.0, 'FDY55': 16.75, 'FDP33': 18.7, 'NCU17': 5.32, 'NCG30': 20.2, 'NCR29': 7.565, 'FDP40': 4.555, 'FDE11': 17.7, 'FDO39': 6.985, 'FDG32': 19.85, 'FDU50': 5.75, 'FDP46': 15.35, 'FDC20': 10.65, 'FDI56': 7.325, 'NCR17': 9.8, 'FDT57': 15.2, 'FDS43': 11.65, 'FDZ37': 8.1, 'FDO13': 7.865, 'FDS25': 6.885, 'NCQ30': 7.725, 'FDL34': 16.0, 'FDA07': 7.55, 'FDZ16': 16.85, 'FDN09': 14.15, 'DRG03': 14.5, 'FDC44': 15.6, 'NCU42': 9.0, 'FDY34': 10.5, 'NCZ30': 6.59, 'FDN10': 11.5, 'FDS13': 6.465, 'FDO10': 13.65, 'FDU23': 12.15, 'FDQ40': 11.1, 'FDB17': 13.15, 'NCL31': 7.39, 'NCQ50': 18.75, 'FDB05': 5.155, 'FDX04': 19.6, 'FDQ20': 8.325, 'DRI03': 6.03, 'FDK34': 13.35, 'NCH06': 12.3, 'FDN23': 6.575, 'FDY48': 14.0, 'FDT20': 10.5, 'FDP04': 15.35, 'FDQ11': 5.695, 'NCH43': 8.42, 'FDN33': 6.305, 'FDT47': 5.26, 'NCN29': 15.2, 'NCF42': 17.35, 'DRE49': 20.75, 'FDO03': 10.395, 'FDQ31': 5.785, 'NCS29': 9.0, 'FDK04': 7.36, 'DRE15': 13.35, 'FDB08': 6.055, 'NCT53': 5.4, 'FDP21': 7.42, 'NCJ43': 6.635, 'NCW41': 18.0, 'NCO05': 7.27, 'FDF33': 7.97, 'DRN59': 15.0, 'FDN44': 13.15, 'NCG54': 12.1, 'NCW42': 18.2, 'FDI20': 19.1, 'FDE57': 9.6, 'FDS08': 5.735, 'FDU39': 18.85, 'FDF26': 6.825, 'DRC49': 8.67, 'FDB36': 5.465, 'DRF49': 7.27, 'NCO14': 9.6, 'FDR45': 10.8, 'FDR01': 5.405, 'FDS39': 6.895, 'FDB02': 9.695, 'FDX24': 8.355, 'FDS34': 19.35, 'NCD43': 8.85, 'FDN01': 8.895, 'NCD31': 12.1, 'FDU52': 7.56, 'NCR30': 20.6, 'FDF29': 15.1, 'FDD39': 16.7, 'FDP09': 19.75, 'FDQ60': '', 'DRJ37': 10.8, 'DRD12': 6.96, 'FDH02': 7.27, 'FDR09': 18.25, 'NCJ19': 18.6, 'DRH11': 5.98, 'FDP56': 8.185, 'DRF01': 5.655, 'FDY13': 12.1, 'FDC32': 18.35, 'FDY04': 17.7, 'FDC29': 8.39, 'FDN25': 7.895, 'FDV43': 16.0, 'FDK58': 11.35, 'FDM20': 10.0, 'FDT36': 12.3, 'FDA46': 13.6, 'FDS21': 19.85, 'FDR14': 11.65, 'FDG22': 17.6, 'FDB40': 17.5, 'FDD51': 11.15, 'FDU12': 15.5, 'NCI06': 11.3, 'FDV26': 20.25, 'FDG21': 17.35, 'FDW52': 14.0, 'FDN24': 14.1, 'NCH55': 16.35, 'FDQ19': 7.35, 'FDK40': 7.035, 'FDV45': 16.75, 'FDK33': 17.85, 'FDU58': 6.61, 'NCG18': 15.3, 'FDQ26': 13.5, 'DRL47': 19.7, 'FDM34': 19.0, 'NCS53': 14.5, 'FDH60': 19.7, 'FDK48': 7.445, 'NCH07': 13.15, 'NCR18': 15.85, 'FDS48': 15.15, 'FDF44': 7.17, 'FDE46': 18.6, 'FDQ09': 7.235, 'NCK53': 11.6, 'FDW22': 9.695, 'FDV16': 7.75, 'NCS54': 13.6, 'FDJ33': 8.895, 'FDK16': 9.065, 'FDB22': 8.02, 'FDQ59': 9.8, 'FDR52': 12.65, 'FDT26': 18.85, 'FDX57': 17.25, 'FDA55': 17.2, 'FDQ45': 9.5, 'FDE51': 5.925, 'FDE02': 8.71, 'NCD55': 14.0, 'DRM23': 16.6, 'FDK26': 5.46, 'FDJ58': 15.6, 'FDY59': 8.195, 'FDT08': 13.65, 'FDI10': 8.51, 'FDZ35': 9.6, 'FDO28': 5.765, 'NCY06': 15.25, 'FDD33': 12.85, 'NCP02': 7.105, 'FDS47': 16.75, 'FDX01': 10.1, 'FDC53': 8.68, 'FDQ32': 17.85, 'FDS57': 15.5, 'NCQ38': 16.35, 'DRK11': 8.21, 'DRE48': 8.43, 'FDM22': 14.0, 'NCU29': 7.685, 'FDZ02': 6.905, 'FDR19': 13.5, 'FDA39': 6.32, 'FDB56': 8.75, 'FDA13': 15.85, 'FDF28': 15.7, 'FDA11': 7.75, 'DRL37': 15.5, 'FDD35': 12.15, 'FDH41': 9.0, 'FDY10': 17.6, 'FDS55': 7.02, 'FDC34': 16.0, 'FDO31': 6.76, 'FDP27': 8.155, 'DRI39': 13.8, 'FDF56': 16.7, 'FDB44': 6.655, 'FDC52': 11.15, 'FDS40': 15.35, 'FDI22': 12.6, 'FDZ31': 15.35, 'FDB37': 20.25, 'FDB45': 20.85, 'FDC08': 19.0, 'FDA43': 10.895, 'NCT06': 17.1, 'FDH56': 9.8, 'FDK51': 19.85, 'FDB33': 17.75, 'NCE30': 16.0, 'FDQ55': 13.65, 'FDT14': 10.695, 'NCA42': 6.965, 'FDG08': 13.15, 'FDH31': 12.0, 'FDA20': 6.78, 'FDK36': 7.09, 'NCP55': 14.65, 'FDO56': 10.195, 'FDX45': 16.75, 'NCB42': 11.8, 'DRK39': 7.02, 'DRI59': 9.5, 'FDE29': 8.905, 'NCO02': 11.15, 'FDT15': 12.15, 'FDQ07': 15.1, 'NCM06': 7.475, 'FDL15': 17.85, 'FDO37': 8.06, 'FDS23': 4.635, 'FDJ44': 12.3, 'FDG10': 6.63, 'NCD54': 21.1, 'FDE35': 7.06, 'FDP49': 9.0, 'NCQ05': 11.395, 'FDN56': 5.46, 'DRA59': 8.27, 'FDE24': 14.85, 'FDZ55': 6.055, 'FDU46': 10.3, 'FDM01': 7.895, 'NCI29': 8.6, 'FDO40': 17.1, 'FDE21': 12.8, 'FDO38': 17.25, 'NCA05': 20.75, 'FDM24': 6.135, 'FDH34': 8.63, 'FDR24': 17.35, 'FDW51': 6.155, 'FDZ19': 6.425, 'FDB35': 12.3, 'FDG34': 11.5, 'FDV19': 14.85, 'FDK52': 18.25, 'FDD04': 16.0, 'FDO24': 11.1, 'FDX50': 20.1, 'FDR44': 6.11, 'NCO06': 19.25, 'FDA22': 7.435, 'FDL28': 10.0, 'FDJ46': 11.1, 'NCD42': 16.5, 'FDJ53': 10.5, 'FDF41': 12.15, 'FDK44': 16.6, 'FDZ39': 19.7, 'FDU28': 19.2, 'FDX38': 10.5, 'FDR21': 19.7, 'NCX54': 9.195, 'FDS11': 7.05, 'FDN38': 6.615, 'NCW18': 15.1, 'DRG36': 14.15, 'FDA56': 9.21, 'NCQ53': 17.6, 'NCO29': 11.15, 'NCQ29': 12.0, 'FDR40': 9.1, 'FDB59': 18.25, 'FDM58': 16.85, 'FDQ14': 9.27, 'FDG52': 13.65, 'NCM26': 20.5, 'FDK38': 6.65, 'FDU43': 19.35, 'FDC48': 9.195, 'NCT42': 5.88, 'FDI50': 8.42, 'FDY38': 13.6, 'FDN50': 16.85, 'FDT49': 7.0, 'FDA52': 16.2, 'FDW47': 15.0, 'DRL35': 15.7, 'DRF36': 16.1, 'DRH36': 16.2, 'FDI32': 17.7, 'FDR25': 17.0, 'FDX39': 14.3, 'FDX52': 11.5, 'DRI25': 19.6, 'FDI21': 5.59, 'FDN32': 17.5, 'DRM35': 9.695, 'FDA15': 9.3, 'FDT13': 14.85, 'FDC50': 15.85, 'NCV05': 10.1, 'FDT60': 12.0, 'NCU06': 17.6, 'FDB27': 7.575, 'FDZ49': 11.0, 'NCV30': 20.2, 'FDM10': 18.25, 'NCU18': 15.1, 'FDH45': 15.1, 'FDP34': 12.85, 'DRO59': 11.8, 'FDJ57': 7.42, 'FDY44': 14.15, 'FDK28': 5.695, 'FDB39': 11.6, 'NCM29': 11.5, 'FDY27': 6.38, 'FDY03': 17.6, 'FDI07': 12.35, 'FDB41': 19.0, 'FDV10': 7.645, 'DRG37': 16.2, 'FDX13': 7.725, 'NCI17': 8.645, 'FDR27': 15.1, 'NCY41': 16.75, 'NCI42': 18.75, 'FDY46': 18.6, 'NCA53': 11.395, 'FDN15': 17.5, 'NCN19': 13.1, 'FDO46': 9.6, 'FDK22': 9.8, 'NCY54': 8.43, 'FDD58': 7.76, 'NCY53': 20.0, 'NCD18': 16.0, 'NCS38': 8.6, 'NCJ18': 12.35, 'FDP59': 20.85, 'FDU11': 4.785, 'FDY51': 12.5, 'FDL32': 15.7, 'NCH30': 17.1, 'FDW04': 8.985, 'NCP29': 8.42, 'FDV55': 17.75, 'FDV47': 17.1, 'FDP26': 7.785, 'FDM03': 12.65, 'FDU07': 11.1, 'FDS51': 13.35, 'FDH14': 17.1, 'NCF18': 18.35, 'FDT21': 7.42, 'NCP30': 20.5, 'FDY26': 20.6, 'FDZ23': 17.75, 'NCE42': 21.1, 'NCH18': 9.3, 'FDV28': 16.1, 'FDU59': 5.78, 'FDH12': 9.6, 'FDA08': 11.85, 'FDW16': 17.35, 'FDW07': 18.0, 'NCE55': 8.92, 'FDK27': 11.0, 'FDZ51': 11.3, 'FDY32': 7.605, 'FDX55': 15.1, 'FDY15': 18.25, 'FDX58': 13.15, 'NCJ30': 5.82, 'DRD13': 15.0, 'FDS59': 14.8, 'FDL03': 19.25, 'FDR37': 16.5, 'FDT59': 13.65, 'FDV39': 11.3, 'NCR38': 17.25, 'DRE13': 6.28, 'NCI55': 18.6, 'FDA35': 14.85, 'NCN41': 17.0, 'FDD09': 13.5, 'FDB26': 14.0, 'FDV25': 5.905, 'FDW28': 18.25, 'FDR60': 14.3, 'FDO09': 13.5, 'FDI14': 14.1, 'FDR33': 7.31, 'DRF37': 17.25, 'FDI28': 14.3, 'NCS17': 18.6, 'FDX32': 15.1, 'FDE56': 17.25, 'FDV36': 18.7, 'FDW19': 12.35, 'FDO57': 20.75, 'FDO58': 19.6, 'FDO60': 20.0, 'FDJ26': 15.3, 'FDX20': 7.365, 'FDY39': 5.305, 'FDX15': 17.2, 'FDZ27': 7.935, 'FDE36': 5.26, 'NCO53': 16.2, 'DRD27': 18.75, 'FDL22': 16.85, 'DRI51': 17.25, 'DRJ01': 6.135, 'FDQ37': 20.75, 'FDX48': 17.75, 'FDY50': 5.8, 'FDL21': 15.85, 'FDX07': 19.2, 'NCQ17': 10.3, 'FDX36': 9.695, 'NCR54': 16.35, 'FDC17': 12.15, 'DRL60': 8.52, 'FDJ36': 14.5, 'FDG38': 8.975, 'FDA23': 9.8, 'FDU37': 9.5, 'FDF04': 17.5, 'NCL30': 18.1, 'FDD11': 12.85, 'FDW46': 13.0, 'NCL29': 9.695, 'FDM39': 6.42, 'FDU34': 18.25, 'FDC16': 11.5, 'FDT27': 11.395, 'FDM46': 7.365, 'NCD30': 19.7, 'FDJ15': 11.35, 'FDP37': 15.6, 'NCI43': 19.85, 'NCZ05': 8.485, 'NCP43': 17.75, 'FDR22': 19.35, 'NCV29': 11.8, 'FDP15': 15.2, 'NCP41': 16.6, 'NCP53': 14.75, 'NCE31': 7.67, 'FDH04': 6.115, 'FDH16': 10.5, 'FDC58': 10.195, 'FDI27': 8.71, 'FDH38': 6.425, 'NCT18': 14.6, 'NCG06': 16.35, 'FDV04': 7.825, 'FDH27': 7.075, 'FDU09': 7.71, 'NCN30': 16.35, 'NCN42': 20.25, 'FDT03': 21.25, 'DRL59': 16.75, 'FDB53': 13.35, 'NCI30': 20.25, 'FDF50': 4.905, 'FDR04': 7.075, 'FDL43': 10.1, 'FDX60': 14.35, 'NCP17': 19.35, 'FDG09': 20.6, 'FDJ34': 11.8, 'FDW60': 5.44, 'FDV48': 9.195, 'DRE25': 15.35, 'FDR59': 14.5, 'FDX08': 12.85, 'FDT37': 14.15, 'FDL08': 10.8, 'FDX46': 12.3, 'FDD14': 20.7, 'FDD28': 10.695, 'FDS32': 17.75, 'FDL10': 8.395, 'FDT24': 12.35, 'FDY28': 7.47, 'NCE43': 12.5, 'NCX41': 19.0, 'FDN45': 19.35, 'FDY37': 17.0, 'FDA32': 14.0, 'FDA01': 15.0, 'FDX44': 9.3, 'NCQ54': 17.7, 'FDB09': 16.25, 'FDD08': 8.3, 'FDT48': 4.92, 'FDX40': 12.85, 'FDG59': 15.85, 'NCS41': 12.85, 'FDQ58': 7.315, 'DRG13': 17.25, 'NCN18': 8.895}

In [39]:
dicc["FDQ60"]

''

In [37]:
# Se detectan los valores NaN en la columna "item_weight" y se busca su peso correspondiente en el diccionario antes creado.
for u in df.index:
  if pd.isnull(df["item_weight"][u]):
    for id in dicc:
      if id == df["item_identifier"][u] and dicc[id]!="":
        df["item_weight"][u] = dicc[id]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   item_identifier            8523 non-null   object
 1   item_weight                8519 non-null   float64
 2   item_fat_content           8523 non-null   object
 3   item_visibility            8523 non-null   float64
 4   item_type                  8523 non-null   object
 5   item_mrp                   8523 non-null   float64
 6   outlet_identifier          8523 non-null   object
 7   outlet_establishment_year  8523 non-null   int64
 8   outlet_size                6113 non-null   object
 9   outlet_location_type       8523 non-null   object
 10  outlet_type                8523 non-null   object
 11  item_outlet_sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [40]:
# Aún existen 4 valores NaN en la columna "item_weight", que corresponden a valores únicos en "item_identifier".
df[df["item_weight"].isnull()]

,item_identifier,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_identifier,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
927,FDN52,NaN,Regular,0.130933,Frozen Foods,86.9198,OUT027,1985,Medium,Tier 3,Supermarket Type3,1569.9564
1922,FDK57,NaN,Low Fat,0.079904,Snack Foods,120.0440,OUT027,1985,Medium,Tier 3,Supermarket Type3,4434.2280
4187,FDE52,NaN,Regular,0.029742,Dairy,88.9514,OUT027,1985,Medium,Tier 3,Supermarket Type3,3453.5046
5022,FDQ60,NaN,Regular,0.191501,Baking Goods,121.2098,OUT019,1985,Small,Tier 1,Grocery Store,120.5098

In [41]:
df[df["item_identifier"]=="FDQ60"]

,item_identifier,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_identifier,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
5022,FDQ60,NaN,Regular,0.191501,Baking Goods,121.2098,OUT019,1985,Small,Tier 1,Grocery Store,120.5098

In [54]:
# Debido al tipo de análisis que se está llevando a cabo, me parece que la variable "item_weight" no es tan determinante.
# Por lo tanto, creo que sería correcto rellenar los valores NaN que aún permanencen con la media de "item_weight" y así no perder estas muestras.
# Además, se puede ver que la desviación estandar no presenta un valor muy alto y los datos se distribuyen de forma bastante simétrica.
df.describe()

,item_weight,item_visibility,item_mrp,outlet_establishment_year,item_outlet_sales
count,8519.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.875420,0.066132,140.992782,1997.831867,2181.288914
std,4.646098,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.785000,0.026989,93.826500,1987.000000,834.247400
50%,12.650000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [55]:
for r in df.index:
  if pd.isnull(df["item_weight"][r]):
    df["item_weight"][r]=12.875

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   item_identifier            8523 non-null   object
 1   item_weight                8523 non-null   float64
 2   item_fat_content           8523 non-null   object
 3   item_visibility            8523 non-null   float64
 4   item_type                  8523 non-null   object
 5   item_mrp                   8523 non-null   float64
 6   outlet_identifier          8523 non-null   object
 7   outlet_establishment_year  8523 non-null   int64
 8   outlet_size                8523 non-null   object
 9   outlet_location_type       8523 non-null   object
 10  outlet_type                8523 non-null   object
 11  item_outlet_sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [57]:
# Se rellenaron la totalidad de valores NaN en la columna "item_weight".
df[df["item_weight"].isnull()]

Empty DataFrame
Columns: [item_identifier, item_weight, item_fat_content, item_visibility, item_type, item_mrp, outlet_identifier, outlet_establishment_year, outlet_size, outlet_location_type, outlet_type, item_outlet_sales]
Index: []

In [42]:
# Se detectan valores NaN en la columna "outlet_size".
df[df["outlet_size"].isnull()]

,item_identifier,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_identifier,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
25,NCD06,13.000,Low Fat,0.099887,Household,45.9060,OUT017,2007,NaN,Tier 2,Supermarket Type1,838.9080
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344
...,...,...,...,...,...,...,...,...,...,...,...,...
8502,NCH43,8.420,Low Fat,0.070712,Household,216.4192,OUT045,2002,NaN,Tier 2,Supermarket Type1,3020.0688
8508,FDW31,11.350,Regular,0.043246,Fruits and Vegetables,199.4742,OUT045,2002,NaN,Tier 2,Supermarket Type1,2587.9646
8509,FDG45,8.100,Low Fat,0.214306,Fruits and Vegetables,213.9902,OUT010,1998,NaN,Tier 3,Grocery Store,424.7804
8514,FDA01,15.000,Regular,0.054489,Canned,57.5904,OUT045,2002,NaN,Tier 2,Supermarket Type1,468.7232
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850

In [43]:
df[(df["outlet_type"]=="Grocery Store")]

,item_identifier,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_identifier,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
23,FDC37,15.500,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344
29,FDC14,14.500,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
30,FDV38,19.250,Low Fat,0.170349,Dairy,55.7956,OUT010,1998,NaN,Tier 3,Grocery Store,163.7868
...,...,...,...,...,...,...,...,...,...,...,...,...
8473,DRI47,14.700,Low Fat,0.035016,Hard Drinks,144.3128,OUT010,1998,NaN,Tier 3,Grocery Store,431.4384
8480,FDQ58,7.315,Low Fat,0.000000,Snack Foods,154.5340,OUT019,1985,Small,Tier 1,Grocery Store,459.4020
8486,FDR20,20.000,Regular,0.000000,Fruits and Vegetables,46.4744,OUT010,1998,NaN,Tier 3,Grocery Store,45.2744
8490,FDU44,12.150,Regular,0.102296,Fruits and Vegetables,162.3552,OUT019,1985,Small,Tier 1,Grocery Store,487.3656
8509,FDG45,8.100,Low Fat,0.214306,Fruits and Vegetables,213.9902,OUT010,1998,NaN,Tier 3,Grocery Store,424.7804

In [45]:
# La totalidad de los vlaores "Grocery Store" en la columna "outlet_type", corresponden a un valor "Small" en la columna "outlet_size". 
# De la misma forma, la totalidad de "Supermarket Type2" y "Supermarket Type3" en la columna "outlet_type", corresponden a un valor "Medium" en la columna "outlet_size".
# Utilizaré esta información para rellenar los valores NaN en la columna "outlet_size".
df.groupby(["outlet_type", "outlet_size"]).count()

                               item_identifier  item_weight  item_fat_content  \
outlet_type       outlet_size
Grocery Store     Small                    528          527               528
Supermarket Type1 High                     932          932               932
                  Medium                   930          930               930
                  Small                   1860         1860              1860
Supermarket Type2 Medium                   928          928               928
Supermarket Type3 Medium                   935          932               935

                               item_visibility  item_type  item_mrp  \
outlet_type       outlet_size
Grocery Store     Small                    528        528       528
Supermarket Type1 High                     932        932       932
                  Medium                   930        930       930
                  Small                   1860       1860      1860
Supermarket Type2 Medium                   928        928       928
Supermarket Type3 Medium                   935        935       935

                               outlet_identifier  outlet_establishment_year  \
outlet_type       outlet_size
Grocery Store     Small                      528                        528
Supermarket Type1 High                       932                        932
                  Medium                     930                        930
                  Small                     1860                       1860
Supermarket Type2 Medium                     928                        928
Supermarket Type3 Medium                     935                        935

                               outlet_location_type  item_outlet_sales
outlet_type       outlet_size
Grocery Store     Small                         528                528
Supermarket Type1 High                          932                932
                  Medium                        930                930
                  Small                        1860               1860
Supermarket Type2 Medium                        928                928
Supermarket Type3 Medium                        935                935

In [46]:
for a in df.index:
  if pd.isnull(df["outlet_size"][a]) and df["outlet_type"][a]=="Grocery Store":
    df["outlet_size"][a]="Small"
  elif pd.isnull(df["outlet_size"][a]) and df["outlet_type"][a]=="Supermarket Type2":
    df["outlet_size"][a]="Medium"
  elif pd.isnull(df["outlet_size"][a]) and df["outlet_type"][a]=="Supermarket Type3":
    df["outlet_size"][a]="Medium"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   item_identifier            8523 non-null   object
 1   item_weight                8519 non-null   float64
 2   item_fat_content           8523 non-null   object
 3   item_visibility            8523 non-null   float64
 4   item_type                  8523 non-null   object
 5   item_mrp                   8523 non-null   float64
 6   outlet_identifier          8523 non-null   object
 7   outlet_establishment_year  8523 non-null   int64
 8   outlet_size                6668 non-null   object
 9   outlet_location_type       8523 non-null   object
 10  outlet_type                8523 non-null   object
 11  item_outlet_sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [48]:
df[df["outlet_size"].isnull()]

,item_identifier,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_identifier,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
8,FDH17,16.20,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.20,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
25,NCD06,13.00,Low Fat,0.099887,Household,45.9060,OUT017,2007,NaN,Tier 2,Supermarket Type1,838.9080
33,FDO23,17.85,Low Fat,0.000000,Breads,93.1436,OUT045,2002,NaN,Tier 2,Supermarket Type1,2174.5028
46,NCP05,19.60,Low Fat,0.000000,Health and Hygiene,153.3024,OUT045,2002,NaN,Tier 2,Supermarket Type1,2428.8384
...,...,...,...,...,...,...,...,...,...,...,...,...
8501,FDW21,5.34,Regular,0.005998,Snack Foods,100.4358,OUT017,2007,NaN,Tier 2,Supermarket Type1,1508.0370
8502,NCH43,8.42,Low Fat,0.070712,Household,216.4192,OUT045,2002,NaN,Tier 2,Supermarket Type1,3020.0688
8508,FDW31,11.35,Regular,0.043246,Fruits and Vegetables,199.4742,OUT045,2002,NaN,Tier 2,Supermarket Type1,2587.9646
8514,FDA01,15.00,Regular,0.054489,Canned,57.5904,OUT045,2002,NaN,Tier 2,Supermarket Type1,468.7232
8519,FDS36,8.38,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850

In [49]:
# Se puede observar que la totalidad de valores "Tier 2" en la columna "outlet_location_type", están ligados con "Supermarket Type1" en "outlet_type" y "Small" en "outlet_size".
# Por lo tanto, los valores NaN que aún existen en "outlet_size" y que correspondan a los valores antes mencionados ("Tier 2" y "Supermarket Type1"), serán rellenados con "Small".
df.groupby(["outlet_location_type", "outlet_type", "outlet_size"]).count()

                                                    item_identifier  \
outlet_location_type outlet_type       outlet_size
Tier 1               Grocery Store     Small                    528
                     Supermarket Type1 Medium                   930
                                       Small                    930
Tier 2               Supermarket Type1 Small                    930
Tier 3               Grocery Store     Small                    555
                     Supermarket Type1 High                     932
                     Supermarket Type2 Medium                   928
                     Supermarket Type3 Medium                   935

                                                    item_weight  \
outlet_location_type outlet_type       outlet_size
Tier 1               Grocery Store     Small                527
                     Supermarket Type1 Medium               930
                                       Small                930
Tier 2               Supermarket Type1 Small                930
Tier 3               Grocery Store     Small                555
                     Supermarket Type1 High                 932
                     Supermarket Type2 Medium               928
                     Supermarket Type3 Medium               932

                                                    item_fat_content  \
outlet_location_type outlet_type       outlet_size
Tier 1               Grocery Store     Small                     528
                     Supermarket Type1 Medium                    930
                                       Small                     930
Tier 2               Supermarket Type1 Small                     930
Tier 3               Grocery Store     Small                     555
                     Supermarket Type1 High                      932
                     Supermarket Type2 Medium                    928
                     Supermarket Type3 Medium                    935

                                                    item_visibility  \
outlet_location_type outlet_type       outlet_size
Tier 1               Grocery Store     Small                    528
                     Supermarket Type1 Medium                   930
                                       Small                    930
Tier 2               Supermarket Type1 Small                    930
Tier 3               Grocery Store     Small                    555
                     Supermarket Type1 High                     932
                     Supermarket Type2 Medium                   928
                     Supermarket Type3 Medium                   935

                                                    item_type  item_mrp  \
outlet_location_type outlet_type       outlet_size
Tier 1               Grocery Store     Small              528       528
                     Supermarket Type1 Medium             930       930
                                       Small              930       930
Tier 2               Supermarket Type1 Small              930       930
Tier 3               Grocery Store     Small              555       555
                     Supermarket Type1 High               932       932
                     Supermarket Type2 Medium             928       928
                     Supermarket Type3 Medium             935       935

                                                    outlet_identifier  \
outlet_location_type outlet_type       outlet_size
Tier 1               Grocery Store     Small                      528
                     Supermarket Type1 Medium                     930
                                       Small                      930
Tier 2               Supermarket Type1 Small                      930
Tier 3               Grocery Store     Small                      555
                     Supermarket Type1 High                       932
                     Supermarket Type2 Medium                     928
                     Supermarket Type3 Medium                     935

                                                    outlet_establishment_year  \
outlet_location_type outlet_type       outlet_size
Tier 1               Grocery Store     Small                              528
                     Supermarket Type1 Medium                             930
                                       Small                              930
Tier 2               Supermarket Type1 Small                              930
Tier 3               Grocery Store     Small                              555
                     Supermarket Type1 High                               932
                     Supermarket Type2 Medium                             928
                     Supermarket Type3 Medium                             935

                                                    item_outlet_sales
outlet_location_type outlet_type       outlet_size
Tier 1               Grocery Store     Small                      528
                     Supermarket Type1 Medium                     930
                                       Small                      930
Tier 2               Supermarket Type1 Small                      930
Tier 3               Grocery Store     Small                      555
                     Supermarket Type1 High                       932
                     Supermarket Type2 Medium                     928
                     Supermarket Type3 Medium                     935

In [50]:
for n in df.index:
  if pd.isnull(df["outlet_size"][n]) and df["outlet_type"][n]=="Supermarket Type1" and df["outlet_location_type"][n]=="Tier 2":
    df["outlet_size"][n]="Small"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   item_identifier            8523 non-null   object
 1   item_weight                8519 non-null   float64
 2   item_fat_content           8523 non-null   object
 3   item_visibility            8523 non-null   float64
 4   item_type                  8523 non-null   object
 5   item_mrp                   8523 non-null   float64
 6   outlet_identifier          8523 non-null   object
 7   outlet_establishment_year  8523 non-null   int64
 8   outlet_size                8523 non-null   object
 9   outlet_location_type       8523 non-null   object
 10  outlet_type                8523 non-null   object
 11  item_outlet_sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [53]:
df.describe()

,item_weight,item_visibility,item_mrp,outlet_establishment_year,item_outlet_sales
count,8519.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.875420,0.066132,140.992782,1997.831867,2181.288914
std,4.646098,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.785000,0.026989,93.826500,1987.000000,834.247400
50%,12.650000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800